@import './layout/base.sass'

@import './components/progressBarCircular.sass'
@import './components/kv.sass'
@import './components/buttonGoTop.sass'

.l-index-content-main
  @include flex-align
  flex-direction: column
  height: 100vh
  &__title
    margin-bottom: 40px
    font-size: 24px
