.u-button-go-top{
  position: absolute;
  bottom: 2em;
  right: 2em;
  z-index: 998;
  width: 50px;
  height: 50px;
  background: $button-color--yellow;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  @include screen ($w-960) {
    bottom: 1em;
    right: 1em;
  }
  @include screen ($w-768) {
    display: none;
  }
  &__bar{
    transform: translateY(22px);
    &::before{
      content: '';
      position: absolute;
      top: 45%;
      left: 41%;
      width: 22px;
      height: 4px;
      background: $body-color;
      border-radius: 4px;
      transform: rotate(45deg);
    }
    &::after{
      content: '';
      position: absolute;
      top: 45%;
      right: 41%;
      width: 22px;
      height: 4px;
      background: $body-color;
      border-radius: 4px;
      transform: rotate(-45deg);
    }
  }
  &:hover{
    .button-go-top__bar{
    animation: bounce 1s ease-in-out;
    }
  }
}