<div id="fb-root"></div>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v10.0&appId=&autoLogAppEvents=1" nonce="F5U5tMVy"></script>

<a class="fb-share" >
  <div class="fb-like" data-href="https://event.udn.com/member/2021wake" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true">
  </div>
</a>

{{!-- <style>.fb-share{display: block;}</style> --}}