<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{!-- <title>webpack example</title> --}}

<meta property="og:title" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta property="og:type" content="website">
<meta property="og:description" content="">

<!-- for Google -->
<meta name="description" content="">
<meta name="keywords" content="">

<!-- facebook -->
<!-- in component with html tag -->

<!-- google recaptcha -->
<script src="https://www.google.com/recaptcha/api.js?render=<金鑰>"></script>
<style>.grecaptcha-badge{visibility: hidden;}</style>

<!-- ga code & fb pixel -->

