<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>webpack example</title>
<meta name="description" content="">

<meta property="og:title" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta property="og:type" content="website">
<meta property="og:description" content="">
<meta property="fb:app_id" content=""/>
<link rel="canonical" href=""/>

<!-- polyfill -->
{{!-- <script src="https://cdn.polyfill.io/v2/polyfill.js"></script> --}}

<!-- facebook -->
{{!-- <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v12.0&appId=<app-id>&autoLogAppEvents=1" nonce="<nonce>"></script> --}}

<!-- line share -->
{{!-- <script type="text/javascript">
  document.addEventListener('onload', () => {
    LineIt.loadButton();
  });
</script> --}}

<!-- google recaptcha -->
{{!-- <script src="https://www.google.com/recaptcha/api.js?render=<金鑰>"></script>
<style>.grecaptcha-badge{visibility: hidden;}</style> --}}

<!-- ga code & fb pixel -->
{{!-- // TODO ga --}}
