<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  
  {{> ./head}}

</head>
<body>
  
  {{> ./components/TheHeader}}

  <div class="l-index-content-main l-wrapper u-layout__padding--header-height u-text__color--primary">

    <div class="l-index-content-main__title">Progress Bar Circular</div>
    
    {{> ./components/ProgressBarCircular}}

  </div>

</body>
</html>