<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>

  <title>story</title>

  {{> ./head}}

</head>

  {{> ./components/TheHeader}}

  {{> ./components/Kv}}

  {{> ./components/TheFooter}}
  
</body>
</html>