@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap');

/*--divice size--*/
$w_1920: 1920px;
$w_1366: 1366px;
$w_1024: 1024px;
$w_960: 960px;
$w_800: 800px;
$w_768: 768px;
$w_640: 640px;
$w_414: 414px;
$w_375: 375px;
$w_320: 320px;

/*--font--*/
$font-family: "Noto Sans TC", "黑體-繁", "Apple LiGothic Medium", "PingFang",
    "微軟正黑體", "Microsoft JhengHei", "WenQuanYi Zen Hei", helvetica, "Arial",
    sans-serif;

/*--color--*/
$background_top: #96e4f4;
$background_bottom: #f3f7df;