@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap');

/*--divice size--*/
$w-1920: 1920px;
$w-1366: 1366px;
$w-1024: 1024px;
$w-960: 960px;
$w-800: 800px;
$w-768: 768px;
$w-640: 640px;
$w-414: 414px;
$w-375: 375px;
$w-320: 320px;

/*--font--*/
$font-family: "Noto Sans TC", "黑體-繁", "Apple LiGothic Medium", "PingFang",
    "微軟正黑體", "Microsoft JhengHei", "WenQuanYi Zen Hei", helvetica, "Arial",
    sans-serif;
$t1: 32px;
$t2: 28px;
$t3: 24px;
$s1: 18px;
$s2: 12px;

/*--color--*/
$body-color: #fff;
$prize-border-color: linear-gradient( #ffeb6e,#faa71b);

$button-color--yellow: #ffe38b;
$button-color--black-300: #333333;
$button-hover--gray-100: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
