@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap');

/*-- divice size --*/
$w-1920: 1920px;
$w-1440: 1440px;
// $w-1366: 1366px;
// $w-1024: 1024px;
$w-1000: 1000px;
$w-960: 960px;
$w-800: 800px;
$w-768: 768px;
$w-640: 640px;
$w-414: 414px;
$w-375: 375px;
$w-320: 320px;

/*-- layout --*/
$menu-width: 200px;

/*-- font --*/
$font-family: "Noto Sans TC", "黑體-繁", "Apple LiGothic Medium", "PingFang",
    "微軟正黑體", "Microsoft JhengHei", "WenQuanYi Zen Hei", helvetica, "Arial",
    sans-serif;
$font-bold: 500;

/*-- color --*/
