*
  // outline: 1px solid #ffae00
  box-sizing: border-box
  font-family: $font-family

body
  position: relative
  background: #D4D4D4

a, a:link
  text-decoration: none
  transition: color .3s linear
  cursor: pointer

input
  &:focus
    outline: none

button
  appearance: none
  -webkit-appearance: none
  &:focus
    outline: none
  

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0

ol, ul, li
  margin: 0
  padding: 0
  list-style: none

img
  display: block

.l-wrapper
  margin: auto
  max-width: $w-1280
  width: 100%
  // @include rwd ($w-1024)
  //   max-width: 800px

.u-layout
  &__padding
    &--header-height
      padding-top: var(--header-height)
  &__object-fit
    &--cover
      width: 100%
      height: 100%
      object-fit: cover
  &__object-fit
    &--cover
      width: 100%
      height: 100%
      object-fit: content

.u-text
  &__color
    &--primary
      color: $text-primary
