@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap')

/* divice size */
$w-1920: 1920px
$w-1646: 1646px
$w-1366: 1366px
$w-1280: 1280px
$w-1200: 1200px
$w-1024: 1024px
$w-960: 960px
$w-800: 800px
$w-768: 768px
$w-640: 640px
$w-414: 414px
$w-375: 375px
$w-320: 320px

/* font */
$font-family: "Noto Sans TC", "黑體-繁", "Apple LiGothic Medium", "PingFang", "微軟正黑體", "Microsoft JhengHei", "WenQuanYi Zen Hei", helvetica, "Arial", sans-serif

/* layout */
// $header-height: 80px

/* color */
$bg-primary: rgba(12,20,49,.9)

$text-primary: #dedede

$body-color: #5b4e3c