<div class="c-buttons-collection">
  <div class="c-buttons-collection__btn">
    <div class="c-buttons-collection__btn--type-A" data-type="typeA">
      <div></div>
      <div></div>
    </div>
  </div>
</div>