<div class="c-kv">

  <h1>這是kv</h1>

  <p>Function Test: change color <span id="text">替換用</span></p>

  <label>input</label> <input type="text">

  <p>Img Tag</p>
  <img class="c-kv__img--test"
      src="{{imgPath}}/test.jpg"
      alt="">

  <p>Background Img</p>
  <div class="c-kv__bg"></div>

  <div class="box__container">
    <div class="box__container-unit"></div>
    <div class="box__container-unit"></div>
    <div class="box__container-unit"></div>
  </div>

  <div class="c-kv__font">
    <p class="t1">t1</p>
    <p class="t2">t2</p>
    <p class="t3">t3</p>
    <p class="s1">s1</p>
    <p class="s1">s2</p>
  </div>

</div>