<div class="c-magnifier">

  <div class="c-magnifier__picture--origin">

    <img src="{{ imgPath 'magnifgier.jpg' }}" alt="貓頭鷹">

    <div class="c-magnifier__scale">STRAT</div>
    <div class="c-magnifier__stop">STOP</div>

  </div>

  <div class="c-magnifier__picture--big">
    <img src="{{ imgPath 'magnifgier.jpg' }}" alt="貓頭鷹放大版">
  </div>

</div>