<header class="c-header">

  <div class="l-wrapper">

    <div class="e-logo">
      <div class="e-logo__bar--left"></div>
      <div class="e-logo__bar--left"></div>
      <div class="e-logo__bar--right"></div>
    </div>

    <div class="c-header__open u-text__color--primary">
      <p>按鈕</p>
    </div>

  </div>

</header>